DrawApp/DrawApp.xcodeproj/project.xcworkspace/xcuserdata/dm.osipenko.xcuserdatad/UserInterfaceState.xcuserstate
DrawApp/DrawApp.xcodeproj/xcuserdata/dm.osipenko.xcuserdatad/xcschemes/xcschememanagement.plist
